<div class="body-container d-flex flex-column">
  <div class="search-bar mb-3">
    <i class="fa fa-search pe-3"></i>
    <input type="text" placeholder="Search for Movies or TV series" />
  </div>
  <cdk-virtual-scroll-viewport
    [itemSize]="itemSize"
    (scrolledIndexChange)="scrolledIndexChange($event)"
  >
    <div class="row justify-content-between video-list-wrapper">
      <ng-container *cdkVirtualFor="let video of videoList?.items">
        <div class="col-lg-3 col-sm-6 card my-3">
          <div class="card-body p-0">
            <img [src]="video.snippet.thumbnails.medium.url" class="w-100" />
          </div>
          <div class="card-footer px-0 py-2">
            <p class="m-0">{{ video.snippet.title | stringTrim }}</p>
            <hr class="m-1" />
            <small class="m-0"
              ><strong>{{ video.snippet.channelTitle }}</strong>
            </small>
            <br />
            <small class="m-0">
              <strong>{{ video.snippet.publishedAt | date: 'medium' }}</strong>
            </small>
          </div>
        </div>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
