<div class="body-container d-flex flex-column">
  <div class="search-bar my-3 row gx-0">
    <div class="col-11 col-lg-6">
      <input
        type="text"
        placeholder="Search for Movies or TV series"
        [(ngModel)]="searchInputValue"
        (keyup.enter)="searchVideos()"
      />
    </div>
    <span
      class="search-icon d-flex align-items-center justify-content-end col-1"
      (click)="searchVideos()"
    >
      <i class="fa fa-search px-3"></i>
    </span>
  </div>

  <div
    class="row justify-content-between video-list-wrapper"
    (scroll)="onScroll($event)"
  >
    <div #videoWindow></div>
    <ng-container *ngIf="!errorMessage; else errorTab">
      <div
        *ngIf="selectedVideo"
        class="row align-items-center video-display-wrapper px-0"
      >
        <div class="col-lg-8 px-0">
          <iframe
            [src]="selectedVideoUrl"
            style="width: 100%"
            allowfullscreen
            frameborder="0"
          >
          </iframe>
        </div>
        <div class="col-lg-4 video-description-tile">
          <h3>{{ selectedVideo.snippet.title }}</h3>
          <hr />
          <h5>
            <strong>Channel:</strong> {{ selectedVideo.snippet.channelTitle }}
          </h5>
          <p>
            <strong>Published:</strong>
            {{ selectedVideo.snippet.publishedAt | date: 'medium' }}
          </p>
          <p>{{ selectedVideo.snippet.description }}</p>
        </div>
      </div>

      <ng-container *ngFor="let video of videoList; let i = index">
        <div class="col-lg-3 col-sm-6 card my-3" (click)="playVideo(video)">
          <div class="card-body p-0">
            <small
              class="duration d-block position-absolute p-2 shadow text-danger"
              >{{ video.duration }}</small
            >
            <img [src]="video.snippet.thumbnails.medium.url" class="w-100" />
          </div>
          <div class="card-footer px-md-0 px-1 py-2">
            <p class="m-0">{{ video.snippet.title | stringTrim }}</p>
            <hr class="m-1" />
            <small class="m-0"
              ><strong>{{ video.snippet.channelTitle }}</strong>
            </small>
            <br />
            <small class="m-0">
              <strong>{{ video.snippet.publishedAt | date: 'medium' }}</strong>
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <ng-template #errorTab>
    <div
      *ngIf="errorMessage === 'quotaOver'"
      class="row align-items-center error-container"
    >
      <div class="text-center">
        <h1 class="text-danger">It seem my free usage quota is over</h1>
        <p class="info-text">Try after sometime</p>
        <h1>☹️</h1>
        <h5 class="info-text">Sorry, I am really broke</h5>
      </div>
    </div>
  </ng-template>
</div>
