@import '../../assets/variable';

.body-container {
  height: calc(100vh - ($global-gap * 2));
  .search-bar {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    input {
      background-color: $semi-dark-blue;
      border: none;
      font-size: $font-size * 1.2;
      width: 100%;
      color: $white;
      height: $navigation-category-icon-size * 2;
      padding-left: 20px;
    }
    input:focus {
      outline: none;
    }
    .search-icon {
      display: block;
      height: $navigation-category-icon-size * 2;
      background-color: $semi-dark-blue;
      cursor: pointer;
      i {
        font-size: $font-size * 1.2;
        color: $greyish-blue;
      }
    }
  }
  .video-list-wrapper {
    flex: 1 0 0;
    overflow-y: auto;
    scrollbar-width: none;
    .video-display-wrapper {
      .video-description-tile {
        height: 420px;
        color: $white;
        overflow-y: auto;
        scrollbar-width: thin;
        hr {
          border-color: $white;
        }
      }
    }

    .card {
      background-color: $dark-blue;
      color: $white;
      cursor: pointer;
      .card-footer {
        p {
          font-size: $font-size * 1.1;
        }
        small {
          color: $greyish-blue;
        }
      }
    }
  }
}

.error-container {
  .info-text {
    color: $greyish-blue;
  }
}

/* .new-player iframe {
  width: 500px !important;
}
 */
