@import '../../assets/variable';

.navigation-container {
  min-width: calc($navigation-category-icon-size * 2);
  min-height: calc($navigation-category-icon-size * 2);
  //background-color: $semi-dark-blue;
  // border-radius: calc($navigation-category-icon-size/2);

  .logo-container {
    flex: 0 0 25%;
    cursor: pointer;
  }

  .category-list {
    flex: 1 0 40%;
    color: $white;
    .category-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: $font-size * 2;
      background-color: $dark-blue;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      img {
        width: $navigation-category-icon-size * 0.7;
      }
    }
  }

  .avatar-image-container {
    flex: 0 0 25%;
    .avatar-image-wrapper {
      width: $navigation-category-icon-size * 2;
      height: $navigation-category-icon-size * 2;
      border-radius: 50%;
      border: 1px solid $white;
      overflow: hidden;
      background: $white;
      cursor: pointer;
      img {
        width: $navigation-category-icon-size * 2;
      }
    }
  }
}

.text-danger {
  font-weight: 900;
}

.btn-selected {
  background-color: $greyish-dark-blue !important;
}

@media screen and (min-width: 600px) {
  .navigation-container {
    height: calc(100vh - ($global-gap * 2));
  }
}
