@import "../../styles.scss";

.navigation-container {
  min-width: $navigation-category-icon-size * 4;
  min-height: $navigation-category-icon-size * 3;
  background-color: $semi-dark-blue;
  border-radius: $navigation-category-icon-size;

  .logo-container {
    flex: 0 0 30%;
  }

  .category-list {
    flex: 1 0 40%;
    img {
      width: $navigation-category-icon-size;
    }
  }

  .avatar-image-container {
    flex: 0 0 30%;
    .avatar-image-wrapper {
      width: $navigation-category-icon-size * 2;
      height: $navigation-category-icon-size  * 2;
      border-radius: 50%;
      border: 1px solid $white;
      overflow: hidden;
      background: $white;
      img {
        width: $navigation-category-icon-size  * 2;
      }
    }
  }

}

@media screen and (min-width: 600px) {
  .navigation-container {
    height: calc(100vh - ($global-gap * 2));
  }
}

