/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'assets/variable';

body {
  font-size: $font-size;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: $dark-blue;
  margin: $global-gap;
}
