$red: #fc4747;
$dark-blue: #10141e;
$greyish-blue: #5a698f;
$semi-dark-blue: #101524;
$white: #fff;

$global-gap: 32px;
$navigation-category-container-height: 200px;
$navigation-category-icon-size: 24px;
$font-size: 14px;
